<div class="card">
    <img src="/images/products/<%= images.length ? images[0] : 'default-image.png' %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= name %></h5>
      <p class="card-text"><%= description %></p>
    </div>
    <div class="card-body d-flex justify-content-end">
      <a href="/products/detail-multiple-images/<%= id %>" class="btn btn-sm btn-outline-dark">ver más</a>
    </div>
  </div>