<div class="card">
    <img src="/images/products/default-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nombre del producto</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, animi!</p>
    </div>
    <div class="card-body d-flex justify-content-end">
      <a href="/products/detail-multiple-images/1" class="btn btn-sm btn-outline-dark">ver más</a>
    </div>
  </div>