<div class="col-5">
    <img src="default-image.png" class="img-fluid rounded-start" alt="...">
    <div class="d-flex justify-content-between">
        <img src="default-image.png" class="img-fluid rounded-start" alt="..." width="30%">
        <img src="default-image.png" class="img-fluid rounded-start" alt="..." width="30%">
        <img src="default-image.png" class="img-fluid rounded-start" alt="..." width="30%">
    </div>
</div>